h1{
  text-align: center;
}

.game-board-container{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.square{
  display: flex;
  width: 200px;
  height: 200px;
  outline: 1px solid black;
  align-items: center;
}
.square span{
  margin: auto;
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.btn{
  width: 200px;
}